<!--
If you want to include any custom html just before </body>, put it in this file.
Or you can delete these file if you don't need it.
-->
<!-- for example, you could include some js libraries:
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js" integrity="sha256-HdIuWBZj4eftihsoDCJoMYjZi6aNVaw7YlUpzKT3ZxI=" crossorigin="anonymous"></script>
-->
<footer style="padding: 10px 0">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <p class="credits copyright text-muted">
      <a href="{{ "/terms" | absURL }}">terms</a> • <a href="{{ "/privacy" | absURL }}">privacy</a> • <a href="{{ "/disclaimer" | absURL }}">disclaimer</a>
    </p>
  </div>
</footer>
